---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17185'
      X-Ratelimit-Reset:
      - '3248'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.org/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "friendbot": {
              "href": "https://horizon-testnet.stellar.org/friendbot{?addr}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.org/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.org/order_book{?selling_asset_type,selling_asset_code,selling_issuer,buying_asset_type,buying_asset_code,buying_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.org/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.org/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "snapshot-1bf713b",
          "core_version": "stellar-core 9.2.0rc6 (b0923f153b86d394a83b2a619db6b23f07ed0700)",
          "history_latest_ledger": 9320274,
          "history_elder_ledger": 1,
          "core_latest_ledger": 9320275,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 9
        }
  recorded_at: Mon, 04 Jun 2018 09:30:11 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17184'
      X-Ratelimit-Reset:
      - '3247'
    body:
      encoding: UTF-8
      string: |-
        {
          "_links": {
            "self": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM"
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/transactions{?cursor,limit,order}",
              "templated": true
            },
            "operations": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/operations{?cursor,limit,order}",
              "templated": true
            },
            "payments": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/payments{?cursor,limit,order}",
              "templated": true
            },
            "effects": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/effects{?cursor,limit,order}",
              "templated": true
            },
            "offers": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/offers{?cursor,limit,order}",
              "templated": true
            },
            "trades": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/trades{?cursor,limit,order}",
              "templated": true
            },
            "data": {
              "href": "https://horizon-testnet.stellar.org/accounts/GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM/data/{key}",
              "templated": true
            }
          },
          "id": "GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM",
          "paging_token": "",
          "account_id": "GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM",
          "sequence": "38620861321707525",
          "subentry_count": 1,
          "thresholds": {
            "low_threshold": 0,
            "med_threshold": 0,
            "high_threshold": 0
          },
          "flags": {
            "auth_required": false,
            "auth_revocable": false
          },
          "balances": [
            {
              "balance": "0.0000000",
              "limit": "922337203685.4775807",
              "asset_type": "credit_alphanum4",
              "asset_code": "MOBI",
              "asset_issuer": "GDRWBLJURXUKM4RWDZDTPJNX6XBYFO3PSE4H4GPUL6H6RCUQVKTSD4AT"
            },
            {
              "balance": "9999.9999500",
              "asset_type": "native"
            }
          ],
          "signers": [
            {
              "public_key": "GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM",
              "weight": 1,
              "key": "GCXIPNBIRZN6MSQVCGFTB363ZGXP2HAJQLQFYY4UXQYDTC65WDU67JYM",
              "type": "ed25519_public_key"
            }
          ],
          "data": {}
        }
  recorded_at: Mon, 04 Jun 2018 09:30:13 GMT
- request:
    method: get
    uri: https://horizon-testnet.stellar.org/accounts/GBNVKV6LYJOC5SXX43TKCCYPZJEPU6O4CWCVAVRAYN5ILHVE6RXM7RTM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json; charset=utf-8
      Content-Disposition:
      - inline
      X-Ratelimit-Limit:
      - '17200'
      X-Ratelimit-Remaining:
      - '17183'
      X-Ratelimit-Reset:
      - '[...]
